__pycache__/
*.py[cod]
*$py.class
*.pyc
node_modules
.idea/
# Output
.output
.vercel
/.svelte-kit
/build
**/_build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Sphinx documentation
docs/_build/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

storage0/
client0/

scratch*.py
hello_world_out.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Ruff stuff
.ruff_cache